<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="thuytest">





  <test name="Run on Chrome browser">
    <parameter name ="browser" value = "chrome"></parameter>
    <classes>
    	<class name = "tech.Topic_04_DataProvider"></class>
    </classes>
  </test> <!-- Test -->
  
   <test name="Run on Firefox browser">
    <parameter name ="browser" value = "firefox"></parameter>
    <classes>
    	<class name = "tech.Topic_04_DataProvider"></class>
    </classes>
  </test>
  
  
  
  
  
</suite> <!-- Suite -->
